<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new form</title>
</head>

<body>
    <h1>create new message</h1>
    <form method="POST" action="/new">
        <label for="author">Author</label>
        <input id="author" type="text" name="user">
        <br />
        <label for="message">Message</label>
        <input id="message" type="text" name="message">
        <br />
        <button>Submit</button>
    </form>
</body>

</html>